<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../reusable/head'); %>
</head>
<body class="container">

<header>
  <%- include('../reusable/header'); %>
</header>

<main>
  <div class="jumbotron text-center homepage">
    <h1>Welcome to Weather Information Plateform!</h1>
    <a class="explore-btn" href="/Weather">Explore</a>
  </div>
</main>

<footer>
  <%- include('../reusable/footer'); %>
</footer>

</body>
</html>
